setuptools
wheel==0.40.0
annotated-types
blinker==1.6.2

Brotli==1.0.9
catalogue==2.0.8
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0

cloudpathlib
colorama==0.4.6
confection==0.0.4
cymem==2.0.7
Flask==2.3.2
gunicorn==20.1.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.4
importlib_metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
langcodes==3.3.0
markdown-it-py==2.2.0
MarkupSafe==2.1.3
mdurl==0.1.2
murmurhash==1.0.9
nltk
numpy==1.24.3
packaging
preshed==3.0.8
pycparser
Pygments==2.15.1
PySocks
regex==2023.8.8
requests==2.31.0
tqdm==4.65.0
shellingham==1.5.0
smart_open==6.3.0
spacy==3.2.1
spacy-loggers
srsly==2.4.7
textblob
thinc
typing_extensions
urllib3==2.0.4
wasabi
weasel
Werkzeug==2.3.6
wrapt==1.15.0
zipp==3.16.2
zstandard==0.21.0
