annotated-types
blinker
blis
Brotli
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
cymem
Flask
gunicorn
h2
hpack
hyperframe
idna
importlib_metadata
itsdangerous
Jinja2
joblib
langcodes
markdown-it-py
MarkupSafe
mdurl
murmurhash
nltk
numpy
packaging
preshed
pycparser
pydantic
pydantic_core
Pygments
PySocks
regex
requests
rich
shellingham
smart_open
spacy
spacy-legacy
spacy-loggers
srsly
textblob
thinc
tqdm
typer
typer-slim
typing_extensions
urllib3
wasabi
weasel
Werkzeug
wrapt
zipp
zstandard
